<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="Nagarro.CensusPopulation.BusinessLayer" />
  <namespace name="Nagarro.CensusPopulation.BusinessLayer" />

  <assembly name="Nagarro.CensusPopulation.Web"/>
  <namespace name="Nagarro.CensusPopulation.Web.Helper"/>

  <assembly name="Nagarro.CensusPopulation.DAL" />
  <namespace name="Nagarro.CensusPopulation.DAL" />
  <namespace name="Nagarro.CensusPopulation.DAL.DAL" />
  <namespace name="Nagarro.CensusPopulation.DAL.Database" />

  <!-- Unity Configuration -->
  <container>
    <register type="IUserBDC" mapTo="UserBDC" />
    <register type="IPersonBDC" mapTo="PersonBDC" />
    <register type="IHouseBDC" mapTo="HouseBDC" />
    
    <register type="IUserDAL" mapTo="UserDAL" />
    <register type="IHouseDAL" mapTo="HouseDAL" />
    <register type="IPersonDAL" mapTo="PersonDAL" />
    
    
    <register type ="IDbContext" mapTo="CensusContext" />
    
    <!--<register type="ILoginDataValidation" mapTo="LoginDataValidation" />-->
    
    <register type="Microsoft.Owin.Security.OAuth.IOAuthAuthorizationServerProvider, Microsoft.Owin.Security.OAuth"
              mapTo="UserAuthServerProvider" />
  </container>
</unity>

